body {
    background-color: black;
}

.container {
  padding: auto;
  background-color: black;
}

.photo {
  width: 720px;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 1rem auto;
  background-color: #F400A1;
  border-style: solid;
}

div.table {
  border: 1px solid #F400A1;
  display: table;
}

div.tr {
  border: 1px solid #F400A1;
  display: table-row;
}

div.td {
  border: 1px solid #F400A1;
  display: table-cell;
  width: 360px;
  height: 100px;
}

div.td-one {
  border: 1px solid #F400A1;
  display: table-cell;
  width: 720px;
  height: 100px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.journal {
  padding: 0 25% 4rem 25%;
  color: #4a4a4a;
  font-family: "Work Sans", serif;
}


.photo .caption {
  font-style: italic;
  font-family: "Merriweather", serif;
}

.photo.first {
  position: relative;
  top: -2.77rem;
  margin-bottom: 1.67rem;
}

.journal p {
  padding-bottom: 2.77rem;
  font-size: 24px;
  line-height: 1.4;
}

.journal .first-letter {
  float: left;
  padding-right: 1.4rem;
  font-family: "Abril Fatface", serif;
  font-size: 7.44rem;
  color: white;
  line-height: 0.87;
}

.quote {
  display: block;
  padding: 4.44rem 0;
  margin-bottom: 3.33rem;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2;
}

@media only screen and (max-width: 680px) {
  .journal {
    padding: 0 10% 4rem 10%;
  }
}
