body {
    background-color: black;
} 

.header {
  position: fixed;
  right: 50px;
  top: 50px;
}

.header .menu {
  width: 480px;
  height: 650px;
  background-color: #F400A1;
  border-radius: 25px;
  position: relative;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  cursor: pointer;
  border-radius: 25px;
  overflow: hidden;
}

.button .slider {
  position: relative;
  width: 100%;
  height: 100%;
}

.button .slider .el {
  width: 100%;
  height: 100%;
  background-color: #F400A1;
}

.button .slider .el p {
  margin: 0px;
}

.button .slider .el:nth-of-type(2) {
  background-color: black;
}

.button .slider .el:nth-of-type(2) p {
  color: #F400A1;
}

.button .slider .el:hover .perspectiveText {
  transform: rotateX(90deg);
}

.button .slider .el:hover .perspectiveText p:nth-of-type(1) {
  transform: translateY(-100%);
  opacity: 0;
}

.button .slider .el:hover .perspectiveText p:nth-of-type(2) {
  opacity: 1;
}

.perspectiveText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  transform-style: preserve-3d;
  transition: transform 0.75s cubic-bezier(0.76, 0, 0.24, 1);
}

.perspectiveText p {
  transition: all 0.75s cubic-bezier(0.76, 0, 0.24, 1);
  pointer-events: none;
  text-transform: uppercase;
}

.perspectiveText p:nth-of-type(2) {
  position: absolute;
  transform-origin: bottom center;
  transform: rotateX(-90deg) translateY(9px);
  opacity: 0;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 40px 50px 40px;
  height: 100%;
  box-sizing: border-box;
}

.nav .body {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.nav .body .linkContainer {
  perspective: 120px;
  perspective-origin: bottom;
}

.nav .body a {
  text-decoration: none;
  color: black;
  font-size: 46px;
}

.nav .footer {
  display: flex;
  flex-wrap: wrap;
}

.nav .footer a {
  width: 50%;
  margin-top: 5px;
}
