html
  head
    title='Docker FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hola, Bienvenido a la AEV7!!
        h2 Este es el resultado de la primera prueba.
        p
          a.btn.btn-primary(href="https://www.youtube.com/" target="_blank") Youtube 

          a.btn.btn-outline-primary(href="https://github.com/Lokhy87" target="_blank") Mi GitHub 

          a.btn.btn-primary(href="https://chatgpt.com/" target="_blank") AI 
          
        p
        p Be careful. The last time I updated the packages in this app was Dec 2024.

