body {
    background-color: black;
} 

.container {
  padding: auto;
  background-color: black;
}

.photo {
  width: 380px;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 1rem auto;
  background-color: #F400A1;
  border-style: solid;
}

.photo .big-image {
  overflow: hidden;
  margin-bottom: 1.11rem;
}

.photo .images-container {
  overflow: hidden;
}

.photo .big-image img {
  width: 100%;
}

.photo .images-container img {
  width: 31%;
}

/*****************/

div.table {
  border: 1px solid #F400A1;
  display: table;
}

div.tr {
  border: 1px solid #F400A1;
  display: table-row;
}

div.td {
  border: 1px solid #F400A1;
  display: table-cell;
  width: 290px;
  height: 100px;
}

div.td-one {
  border: 1px solid #F400A1;
  display: table-cell;
  width: 380px;
  height: 100px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}