body {
    background-color: #efefef;
    color: #3a3a3a;
    background-color: white;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
}

#page {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 10px;
    padding-right: 10px;
}

button {
    font-family: "Open Sans", sans-serif;
}

#render {
    text-align: center;
}

#render button {
    background-color: white;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.9px;
    color: #C4001A;
    border: solid 1px #C4001A;
    margin-bottom: 30px;
    margin-top: 20px;

}

#render button:hover {
    background-color: rgba(196, 0, 26, 0.05);
}


.photo {
  border: 1px solid #5495ff;
  width: 30%;
  padding: 1.11rem;
  border-radius: 5px;
  margin: 0 auto 4.44rem auto;
  background-color: white;
}

.photo .image-container {
  margin-bottom: 1.11rem;
}

.photo .image-container img {
  width: 100%;
  height: 250px;
}

.photo .caption {
  font-style: italic;
  font-family: "Merriweather", serif;
}

.carousel {
  display: flex; 
  justify-content: center
}