<div style="margin-top: 30px;">
    <div class="frutas">
        <h4 style="margin-right: 40px;">{{ termino }}</h4>
    </div>
    <div class="container-view-three">
        <div class="photos-view-three">
            <div>
                @for (p of photos; track p) {
                    <img [src]="p" style="width: 20%;" (click)="onClick(p)"> 
                } 
                @if (selectedPhoto) {
                    <img [src]="selectedPhoto" style="width: 100%;"
                    (click)="volver()">
                }
            </div>
        </div>
    </div>
</div>