    <!-- EJERCICIO 4  -->
        <section>
            <form method="post">
                <div class="answer-bank">
                    <div class="answer">
                        <input type="text" name="name" id="name" value="nombre" placeholder="nombre"/>
                    </div>
                    <div class="answer">
                        <input type="submit" value="Enviar" class="primary" />
                    </div>
                </div>
            </form>
        </section>
    
        <div id='render-more'>
            <button>Significados</button>
            <button>Sinónimos</button>
            <button>Antónimos</button>
        </div>
    <div id='render-more'>
            <p>definiciones / sinónimos / antónimos</p>
        
        <button>Volver</button>
        <button>Nueva búsqueda</button>
    </div>

