.title-subtitle {
    padding: .5rem 0;
    
}
h1 {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 0;
    text-align: center;
    letter-spacing: 1px;
    
}
h2 {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 28px;
    text-align: center;
    margin-bottom: 2px;
    margin: 4px 0 0 0;
}
nav ul {
    list-style: none;
    padding: 0;
    margin-top: 1rem 0 0 0;
    display: flex;
    justify-content: center;
    gap: 2rem
}
nav a {
    font-family: sans-serif;
    text-decoration: none;
    font-weight: 500;
    color: #111;
    letter-spacing: .5px;
    position: relative;
    padding-bottom: 4px;
}
nav li {
    margin: 0;
}