{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    <h1>Crear Nueva Reserva</h1>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('app_booking_index') }}">Volver a la lista</a>
{% endblock %}
