.caja {
    width: 100px;
    height: 100px;
    background: #bfbfbf;    
    border: 2px solid #555; 
    display: inline-block;
    margin-right: 10px;
}
/* .uno {
    position: relative;
    top: 120px;   
} */


.marco-azul {
    width: 400px;
    height: 250px;
    border: 4px solid blue;     
    padding: 20px;
}


.tarjeta {
    background: #ffffff;
    border: 2px solid #cccccc;
    padding: 20px;
    display: flex;                 
    gap: 15px;
}


.caja-img {
    width: 100px;
    height: 100px;
    background: #bfbfbf;
    border: 2px solid #555;
}

.tarjeta p {
    font-size: 14px;
    line-height: 1.4;
    width: 220px;
}


