
h1 {
    color: teal;
}

body {
    max-width: 900px;   
    margin: 0 auto;     
}

p strong {
    color: red;
}

.destacado {
    color: orange;
}

h2 {
    color: blue;
}

p a {
    color: red;
}

p em {
    color: blue;
}

p .especial {
    color: purple;
}

caption {
    color: blue;
}

table .especial {
    color: orange;
}

td, th {
    border: 1px solid black;
    padding: 5px;
}

td {
    color: green;
}

td strong {
    color: orange;
}

#adicional {
    color: olive;
}

#adicional a {
    color: green;
}

#especial {
    color: purple;
}

th[scope="col"] {
    color: red;
}

th[scope="row"] {
    color: red;
}

th.especial[scope="row"] {
    color: orange;
}

th.especial[scope="col"] {
    color: orange;
}
