<!-- view2.component.html -->
<div class="view2-container">

  <!-- Estado inicial: muestra el componente CharacterCard con el primer personaje -->
  <div class="characters-main">
    @if (mode === 'inicio') {
        <app-character-card
        [name]="name"
        [image]="photo"
        (selectPhoto)="showPhotos()"
        ></app-character-card>
    }
    
  </div>

  <!-- Estado miniatura: 5 imágenes pequeñas -->
  <div class="characters-thumb">
    @if (mode === 'imagenes') {
        @for (p of photos; track p) {
            <app-character-card
            [image]="p.image"
            (selectPhoto)="showDetail($event)"
            ></app-character-card>
        }
    }
  </div>

    @if (mode === 'detalle') {
        <app-character-card
            [image]="selectedPhoto"
            (click)="volver()"
        ></app-character-card>
    }

</div>