<form method="post" action="{{ path('app_room_delete', {'id': room.id}) }}" onsubmit="return confirm('¿Estas seguro de que quieres borrar la sala?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ room.id) }}">
    <button class="btn">Borrar</button>
</form>
