{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h1>Crear Nueva Sala</h1>

    {{ include('room/_form.html.twig') }}

    <a href="{{ path('app_room_index') }}">Volver a la lista</a>
{% endblock %}
