{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h1>Datos actualizados</h1>
    <h3>Actualmente tenemos en nuestra biblioteca</h3>
    <ul>
        <li>Un total de libros de: {{ totalBooks }} libros.</li>
        <li>Libros disponibles: {{ librosDisponibles }} libros.</li>
        <li>Socios: {{ totalMembers }} socios.</li>
        <li>Prestamos totales activos: {{ activeLoan }} prestamos.</li>
    </ul>
{% endblock %}
