
h1 {
    font-size: 30px;
    color: navy;
    text-align: center;
    margin-bottom: 30px;
}

section {
    display: flex;
    justify-content: space-between;
}

section > div {
    width: 30%;
    background: lightgray;
    padding: 20px;
    margin: 10px;
    border: 1px solid steelblue;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    color: steelblue;
    margin-bottom: 15px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    margin-bottom: 8px;
    color: black;
}

li span {
    color: royalblue;
    font-weight: bold;
}
