
h1 {
    font-size: 28px;
    text-align: left;
    font-weight: bold;
}

section {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

section > div {
    width: 30%;
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

ul {
    list-style-type: disc;
    padding-left: 20px;
}

li {
    font-size: 16px;
    margin-bottom: 5px;
}

li span {
    font-weight: bold;
    color: blue;
}
