<div class="content-hexagon">
    <div class="hexagon" (click)="pulsar(letras[0])">{{ letras[0] }}</div>
    <div class="hexagon" (click)="pulsar(letras[1])">{{ letras[1] }}</div>
    <div class="hexagon" (click)="pulsar(letras[2])">{{ letras[2] }}</div>
    <div class="hexagon" (click)="pulsar(letras[3])">{{ letras[3] }}</div>
    <div class="hexagon" (click)="pulsar(letras[4])">{{ letras[4] }}</div>
    <div class="hexagon" (click)="pulsar(letras[5])">{{ letras[5] }}</div>
    <div class="hexagon" (click)="pulsar(letras[6])">{{ letras[6] }}</div>
</div>
