h1 {
    border-bottom: 2px solid blue;
}

h2 {
    border: 2px solid grey;
}

#datos {
    border-top: 4px dotted grey;
    border-bottom: 4px dotted grey;
    padding: 10px 0;
}

#contenido {
    border: 2px dashed #0F0;
    padding: 10px;
}